
  <ul *ngFor = "let user of users">
    <!--<li> {{  user.name }}  {{  user.address.street  }} {{user.username}} {{user.website}} {{user.company.name}} {{user.company.catchPhrase}}</li>  -->
    <hr color="green">
   <!--<input (change)="onToggle()" input type="checkbox">---->
   <input type="checkbox">
  <li> {{  user.id  }}</li>
  <li> {{  user.name }}  </li>
  <li> {{  user.address.street  }}  </li>
  <li> {{  user.username}} </li>
  <li> {{  user.website}} </li>
  <li> {{  user.company.name}} </li>
  <li> {{  user.company.catchPhrase}}</li>

  </ul>




